.f1{
    background-color: rgba(0, 0, 0, 0.05);

}
.f22{
    background: rgb(237 223 255);
  }
  
  
  .btn-floating i {
    font-size: 24px;
    color: #333; /* Change color as needed */
  }
  .navf-brand
   {
  
    font-size: 35px;
    font-weight: 800;
    color: rgb(138 43 226) !important;
    text-decoration: none;
    font-family: "Georgia", serif;
  
  
  }
  .fs1{
    display: flex;
    height: 70px;
    width: 70px;
    margin-top: 21px;

  }