.f1{
    background-color: rgba(0, 0, 0, 0.05);

}
.f22{
    background: rgb(237 223 255);
    height: auto;
    width: 100%;
  }
  
  
  .btn-floating i {
    font-size: 24px;
    color: #333; /* Change color as needed */
  }
  .navf-brand
   {
   
  margin-left: 40px;
    font-size: 45px;
    font-weight: 800;
    color: rgb(138 43 226) !important;
    text-decoration: none;
    font-family: "Georgia", serif;
  
  
  }
  .fs1{
   margin-top: -9px;
    height: 90px;
    width: 90px;
   

  }