#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: .5rem 5rem;
  box-shadow: 5px 5px 10px rgb(118, 27, 238);
  background: white;
  font-family: 'Poppins', sans-serif;
}

.nav-link:hover {
  color: rgb(118, 27, 238);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #5f5f5f;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.navbar .navbar-brand {

  font-size: 25px;
  font-weight: 800;
  color: rgb(138 43 226) !important;
}

#navbarSupportedContent a {
  color: #565656;
  text-decoration: none;

}

#navbarSupportedContent a:hover {
  color: rgb(118, 27, 238);
  text-decoration: none;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 240px;

  list-style: none;
}

#Nav {
  /* display: flex !important; */
  width: 575px;
  height: 48px;
  margin-left: 180px;
  margin-right: 120px;
  text-decoration: transparent;

}

.nav1 {
  display: flex !important;
  height: 30px;
  transform: translate(-20%, -25%);
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;

}

.btn1 {
  background-color: blueviolet;
  width: 5rem;
  border-radius: 15px;
}

.y1 {

  text-align: center;
 font-size: 17px;
  line-height: 52px;
  text-decoration: none;
  margin-right: 10px;
  padding-bottom: 20px;
}

.shopping {
  display: grid;
  grid-template-columns: 1fr 50px;

  position: relative;
  text-align: right;

}

.shopping img {
  margin-top: 8px;
  height: 30px;
  
}

.shopping span {
 background-color: rgb(194 130 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 17px;
  position: absolute;
  top: 10px;
  left: 34%;
  padding: 3px 10px;
}

.shop1 {
  margin-top: 16px;
  margin-left: 25%;

}


#cs1 {
  width: 83px;


}

.shopping a {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(72, 72, 72);
  font-size: 17px;
  position: absolute;
  top: -6px;
  left: 35%;
  padding: 3px 10px;
}
.s1{
  height: 50px;
 margin-right: 8px;
}


section{
  width: auto;
height: auto;
border: solid px rgb(225, 113, 65);

justify-content: center;
align-items: center;
}
#home{

  min-height:780px;
background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.5)),url(../Component/ImagesFolder/bg.jpg);

background-size: cover;
background-position: center;
flex-direction: column;
}
#home h1{
margin-top: 160px;
font-size:100px;
color:white;
letter-spacing: 3px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
text-shadow: 0px 1px 0px #ccc,
0px 2px 0px #ccc,
0px 3px 0px #ccc,
0px 4px 0px #ccc,
0px 5px 0px #ccc,
0px 6px 0px #ccc,
0px 6px 0px #ccc;
}

#home .center{
color: azure;
font-size: 24px;
font-weight: 900;
}

