

 
.container>.searchInput_Container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 60px;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 35px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container>.searchInput_Container input {
    width: 50%;
    padding: 10px;
    outline: none;

}

.searchInput:focus {
    border-radius: 15px;
    border-color:rgb(118, 27, 238);
} 

.searchInput {
    border-radius: 15px;
    border-color:rgb(208, 174, 252);
}

.container .container-fluid {

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;

    margin-top: 5% !important;
    margin: 0 auto;
}

.container .container-fluid .template {
    background-color: white;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 15rem;
    height: 19rem;
    margin-top: 20px;
    margin: 20px;
    padding: 0px 15px;
}

.container .container-fluid .template img {
    height: 160px;
    width: 210px;
    margin-top: 1px;
}

.sea1 {
    height: 30px;
    position: relative;
    padding-bottom: 5px;
    left: -3%;
}

.title {
    font-size: 20px;
    text-decoration-line: none;
    color: black;

}

#tp2 {
    box-shadow: none;
}

.star {
   
    color:rgb(135 13 253);

}


.heart {
    margin-top: 20px;
    margin-right: 200px;
    border-radius: 15px;
    border: solid 1px #f6f6f6;
    background-color: #fff;
}

