.container>.searchInput_Container {
    position: fixed;
    width: 100%;
    left: 0;
    top: 75px;
    z-index: 2;
    background-color: #fff;
    padding-bottom: 10px;
    padding-top: 35px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}




.searchInput_Container {
    display: flex;
    width: 50%;
    padding: 10px;
    outline: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 50%;
    padding: 10px;
    border: 1px solid #b45cff;
    border-radius: 0.25rem;
}

#searchInput:focus {
    border-color: #d080ff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(205, 140, 245, 0.25);
}

.container .container-fluid {

    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;

    margin-top: 5% !important;
    margin: 0 auto;
}

.container .container-fluid .template {
    background-color: white;
    border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 15rem;
    height: 19rem;
    margin-top: 20px;
    margin: 20px;
    padding: 0px 15px;
}

.container .container-fluid .template img {
    height: 175px;
    width: 210px;
    margin-top: 1px;
}

.sea1 {
    height: 30px;
    margin-left: -35px;
    padding-bottom: 5px;

}

.title1,.price1 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 20px;
    text-decoration-line: underline;
    text-decoration-color: white;
    color: rgb(158, 17, 219);

}

#tp2 {
    box-shadow: none;
}

.star {

    color: rgb(135 13 253);
margin-bottom: 2%;
}


.heart {
    margin-top: 20px;
    margin-right: 200px;
    border-radius: 15px;
    border: solid 1px #f6f6f6;
    background-color: #fff;
}